<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" th:href="@{styleHasilDiagnosa.css}">
		<title>Hasil Diagnosa</title>
</head>
<body>

	<nav class="navbar navbar-expand-sm navbar-dark bg-crimson" id="navbar" style="border-radius: 0px 0px 20px 20px; padding-left: 100px;align-content: center;">
		<a class="navbar-brand" href="/" style="color: white;"><strong>Home</strong></a>
		<a class="navbar-brand" href="welcome" style="color: white;"><strong>Diagnosa</strong></a>
	</nav>

	<div class="container">
		<div class="row">
			<div class="column col-8 offset-2">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Penyakit</th>
							<th scope="col">Persentase Kemungkinan</th>
							<th scope="col">Solusi</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="hasil : ${hasilDiagnosa}">
							<td th:text="${hasil.namaPenyakit}"></td>
							<td th:text="${hasil.persentasePersen}"></td>
							<td th:text="${hasil.solusi}"></td>
						</tr>
					</tbody>
				</table>				
			</div>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</body>
</html>