<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Welcome</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{style.css}">
    </head>

    <body>

      <nav class="navbar navbar-expand-sm navbar-dark bg-crimson" id="navbar" style="border-radius: 0px 0px 20px 20px; padding-left: 100px;align-content: center;">
          <a class="navbar-brand" href="/" style="color: white;"><strong>Home</strong></a>
          <a class="navbar-brand" href="/welcome" style="color: white;"><strong>Diagnosa</strong></a>
      </nav>
      
      <div class="container" id="containerCarousel">
        <div class="row" >
          <div class="column col-8 offset-2" style="background-color: white;" id = "kolomCarousel">
            <form action="#" th:action="@{/welcome}" th:object="${penyakit}" method="post">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img th:src="@{cat1.jpg}" />
                    <h5>Keluhan Organ Pernapasan</h5>
                    <div class="row">
                      <div class="col-8 offset-2">
                        <div class="input-group mb-3 col-8 offset-2">
                          
                              <input type="text" th:field="*{ciriPernapasan}" class="form-control" id="pernapasan" placeholder="Tuliskan satu persatu" aria-label="Recipient's username" aria-describedby="basic-addon2">
                              <div class="input-group-append">
                                <button class="btn btn-outline-danger" name="organ" value="Pernapasan" type="submit">Tambah</button>
                              </div>

                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item" >
                    <img th:src="@{cat2.jpg}" />
                    <h5>Keluhan Organ Pencernaan</h5>
                    <div class="row">
                      <div class="col-8 offset-2">
                        <div class="input-group mb-3 col-8 offset-2">
                          
                              <input type="text" th:field="*{ciriPencernaan}" class="form-control" id="pencernaan" placeholder="Tuliskan satu persatu" aria-label="Recipient's username" aria-describedby="basic-addon2">
                              <div class="input-group-append">
                                <button class="btn btn-outline-danger" name="organ" value="Pencernaan" type="submit">Tambah</button>
                              </div>

                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img th:src="@{cat1.jpg}" />
                    <h5>Keluhan Organ Ekskresi</h5>
                    <div class="row">
                      <div class="col-8 offset-2">
                        <div class="input-group mb-3 col-8 offset-2">
                          
                              <input type="text" th:field="*{ciriEkskresi}" class="form-control" id="ekskresi" placeholder="Tuliskan satu persatu" aria-label="Recipient's username" aria-describedby="basic-addon2">
                              <div class="input-group-append">
                                <button class="btn btn-outline-danger" name="organ" value="Ekskresi" type="submit">Tambah</button>
                              </div>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img th:src="@{cat2.jpg}" />
                    <h5>Keluhan Organ Sistem Indera</h5>
                    <div class="row">
                      <div class="col-8 offset-2">
                        <div class="input-group mb-3 col-8 offset-2">
                          
                              <input type="text" th:field="*{ciriIndera}" class="form-control" id="indera" placeholder="Tuliskan satu persatu" aria-label="Recipient's username" aria-describedby="basic-addon2">
                              <div class="input-group-append">
                                <button class="btn btn-outline-danger" name="organ" value="SistemIndera" type="submit">Tambah</button>
                              </div>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
                
              </div>
              
            </form>    
          </div>
        </div>
        <br><br>
        <div class="row">
          <div class="column col-8 offset-2" style="text-align: center;">
            <a href="/hasilDiagnosa"><button type="button" id="buttonDiagnosa" class="btn btn-danger btn-lg">Diagnosa</button></a>
          </div>
        </div>
      </div>
      
    
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script th:src="@{autocomplete.js}"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    </body>
</html>