body {
    background-color: #f9bfbd;
}

#navbar {
    box-shadow: 0px 0px 8px 2px lightslategrey;    
}

.container img {
    border-radius: 50%;
    width : 150px;
    
}

.ui-helper-hidden-accessible {
    display : none;
}

ul {
    list-style: none;
}

.bg-crimson {
    background-color: crimson;
}

#containerCarousel {
    text-align: center;
    align-content: center;
    margin-top: 8%;
}

#kolomCarousel {
    padding-top: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 2px crimson;
}
.carousel-control-prev-icon::after{
    content: '<';
    font-size: 55px;
    color: crimson;
}

.carousel-control-next-icon::after{
    content: '>';
    font-size: 55px;
    color: crimson;
}