body {
    
    background-color: #f9bfbd;
}

thead {
    background-color: crimson;
}

tbody {
    background-color: white;
}

tr {
    border-color: black;
    
}

.container {
    padding-top: 100px;
}

#navbar {
    box-shadow: 0px 0px 8px 2px lightslategrey;    
}

.bg-crimson {
    background-color: crimson;
}

